.callout-section {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
}

.image-column {
    display: flex;
    flex-direction: column;
    margin-right: 0px; 
    padding-left: 20px;
}


.image-column1 {
    display: flex;
    flex-direction: column;
    margin-right: 0px; 
    padding-left: 300px;
}

.callout-section-image {
    width: 100%; 
    height: auto; 
    margin-bottom: 20px;
    
}

.callout-copywriting {
    flex: 1;
    display: flex; 
    align-items: flex-start; 
    justify-content: space-between;
    padding-top: 20px;
}

.callout-text {
    font-size: 80px; 
    font-weight: 400; 
    color: #8A53FF; 
    font-family: "ChangaOne-Regular";
    padding-left: 140px;
}

.callout-title{
    font-size: 42px;
    font-style: italic;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    padding-right: 200px;
    font-family: "ChangaOne-Regular";
}

.callout-title p {
    font-size: 16px;
    margin-left: -48px;
    font-family: "Roboto-Regular"; 
    font-style: normal;
    letter-spacing: 0.01em;
    color: #434343;
}

.callout-title img {
    margin-left: -48px;
    margin-bottom: 80px;
    padding-left: 40px;
}

.conlution-text p {
padding-left: 280px;
padding-top: 10px;

}

.callout-copywriting button {
   color: aliceblue;
    background-color: #8A53FF;
    border-radius : 4px;
    width:165.17px;
   height: 46px;
    cursor: pointer;
}

.conlution-text{
    word-spacing: 5px;
}