.footer-section {
    height: 80px;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_links {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 40px;
    font-weight: 300;
    color: #939EB4;
    font-size: 14px;
}


