a {
    text-decoration: none;
}

header nav {
    float: right;
    width: 40%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color:black;
}


header nav ul li b {
color: blueviolet;
}

.hero_content_wrapper {
    width: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 78%);
}

